:root{
    --blanco: #fff;
    --negro: #000;
    --primario: #add8e6;
    --secundario: #ff8c00;
    --gris: #757575;
    --grisclaro: #9c9c9c;
}
html{
    font-family: 'Open Sans', sans-serif;
    background-image: url(/img/diego-jimenez-Fondo.jpg);
}
header{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 0;
}
nav{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-size: 0;
}
nav a{
    text-decoration: none;
    color:inherit;
    font-size: 14px;
}
nav ul{
    background-color: var(--secundario);
}
nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color: var(--secundario);
    border:1px solid var(--negro);
    text-align:center;
    color: var(--blanco);
}
nav li:hover{
    background-color: var(--primario);
    color: var(--negro);
}
article .Autor{
    text-align: center;
    color: var(--blanco);
    font-size: 24px;
}
.Autor img{
    margin: 0 40px;
    border: solid 2px var(--negro);
    border-radius: 40px;
    height: 350px;
}
/*.Autor #Yo{
    margin: 0 40px;
    border: solid 2px var(--negro);
    border-radius: 400px;
    height: 350px;
}*/
footer{
    box-sizing: 0;
    font-size: 0;
}
footer .Titulo-footer{
    font-size: 18px;
    color: var(--blanco);
    text-align: center;
}
footer .Redes-sociales{
    margin: 0 40px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
footer .Copyright{
    margin: 5px 0;
}
.Copyright a{
    text-decoration: none;
    color: var(--blanco);
}
.Copyright p{
    text-align: center;
    font-size: 16px;
}
/*Elemestos genéricos*/
h1{
    color: var(--blanco);
    padding: 40px;
    border: 5px,solid;
    margin: 0px;
    text-align: center;
    font-size: 44px;
}